{% extends 'store/base.html' %}
{% load static %}
{% block content %}

    {#    <!-- Title page -->#}
    {#    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'images/bg-01.jpg' %}); margin-top: 80px;">#}
    {#        <h2 class="ltext-105 cl0 txt-center">#}
    {#            Контакты#}
    {#        </h2>#}
    {#    </section>#}

    <!-- Контент страницы -->
    <section class="bg0 p-t-104 p-b-116">
        <div class="container" style="margin-top: 100px;">
            <div class="flex-w flex-tr">
                <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                    <form method="post">
                        {% csrf_token %}
                        <h4 class="mtext-105 cl2 txt-center p-b-30">
                            Свяжитесь с нами
                        </h4>

                        <div class="bor8 m-b-20 how-pos4-parent">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            <img class="how-pos4 pointer-none" src="{% static 'images/icons/icon-email.png' %}"
                                 alt="ICON">
                        </div>

                        <div class="bor8 m-b-30">
                            {{ form.message.label_tag }}
                            {{ form.message }}
                        </div>

                        <button type="submit"
                                class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                            Отправить сообщение
                        </button>
                    </form>
                </div>

                <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                    <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

                        <div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Адрес
							</span>

                            <p class="stext-115 cl6 size-213 p-t-18">
                                Наш магазин, ул. Примерная, д. 10, Москва, Россия
                            </p>
                        </div>
                    </div>

                    <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

                        <div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Позвоните нам
							</span>

                            <p class="stext-115 cl1 size-213 p-t-18">
                                +7 (495) 123-45-67
                            </p>
                        </div>
                    </div>

                    <div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

                        <div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Поддержка
							</span>

                            <p class="stext-115 cl1 size-213 p-t-18">
                                support@store.ru
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Карта -->
    <div class="map">
        <div class="size-303" id="google_map" data-map-x="55.751244" data-map-y="37.618423"
             data-pin="{% static 'images/icons/pin.png' %}"
             data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
    </div>

{% endblock %}
