<!-- templates/product_detail.html -->

{% extends 'store/base.html' %}
{% load static %}

{% block content %}

    <!-- Хлебные крошки -->
    <div class="container" style="margin-top: 100px;">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="{% url 'store:index' %}" class="stext-109 cl8 hov-cl1 trans-04">
                Главная
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

            <a href="{% url 'store:product_list' %}" class="stext-109 cl8 hov-cl1 trans-04">
                Все товары
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

            <span class="stext-109 cl4">
                {{ object.name }}
            </span>
        </div>
    </div>

    <!-- Детали товара -->
    <section class="sec-product-detail bg0 p-t-65 p-b-60">
        <div class="container">
            <div class="row">
                <!-- Галерея изображений товара -->
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-dots"></div>
                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                            <!-- Галерея Slick с миниатюрами -->
                            <div class="slick3 gallery-lb">
                                {% for image in object.images.all %}
                                    <div class="item-slick3" data-thumb="{{ image.image.url }}">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="{{ image.image.url }}" alt="IMG-PRODUCT">

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                               href="{{ image.image.url }}">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Информация о товаре и форма добавления в корзину -->
                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14" style="font-size: 22px;">
                            {{ object.name }} {{ object.brand.name }}
                        </h4>

                        <span class="mtext-106 cl2">
                            {{ object.price|floatformat:0 }} руб.
                        </span>

                        <p class="stext-102 cl3 p-t-23">
                            {{ object.description }}
                        </p>

                        <!-- Форма для добавления товара в корзину -->
                        <form method="POST" action="{% url 'store:add_to_cart' %}">
                            {% csrf_token %}
                            <div class="p-t-33">
                                {% if product_inventories|length == 1 %}
                                    <!-- Если доступен только один вариант -->
                                    <input type="hidden" name="product_inventory_id"
                                           value="{{ product_inventories.0.id }}">
                                    <p>{% if product_inventories.0.size %}Размер:
                                        {{ product_inventories.0.size.name }}{% endif %}
                                        {#                                        {% if product_inventories.0.color %}, Цвет: {{ product_inventories.0.color.name }}{% endif %}#}
                                        {% else %}
                                        <!-- Выбор варианта товара -->
                                    <div class="flex-w flex-r-m p-b-10">
                                        <div class="size-203 flex-c-m respon6">
                                            Вариант
                                        </div>

                                        <div class="size-204 respon6-next">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2" name="product_inventory_id" required>
                                                    <option value="">Выберите вариант</option>
                                                    {% for inventory in product_inventories %}
                                                        <option value="{{ inventory.id }}">
                                                            {% if inventory.size %}
                                                                Размер: {{ inventory.size.name }}
                                                            {% endif %}
                                                            {% if inventory.color %}
                                                                Цвет: {{ inventory.color.name }}
                                                            {% endif %}
                                                            (В наличии: {{ inventory.stock }})
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- Выбор количества -->
                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-204 flex-w flex-m respon6-next">
                                        <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                            <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-minus"></i>
                                            </div>

                                            <input class="mtext-104 cl3 txt-center num-product" type="number"
                                                   name="quantity"
                                                   value="1" min="1">

                                            <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                            </div>
                                        </div>

                                        <button type="submit"
                                                class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                            Добавить в корзину
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- Социальные сети и избранное -->
                        <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                            <div class="flex-m bor9 p-r-10 m-r-11">
                                <form method="POST"
                                      action="
                                              {% if object in user_favorites %}{% url 'store:remove_favourite' %}{% else %}{% url 'store:add_favourite' %}{% endif %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ object.id }}">
                                    <button type="submit"
                                            class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 tooltip100"
                                            data-tooltip="{% if object in user_favorites %}Удалить из избранного{% else %}Добавить в избранное{% endif %}">
                                        <i class="zmdi zmdi-favorite {% if object in user_favorites %}text-danger{% else %}text-dark{% endif %}"
                                           style="font-size: 28px;"></i> <!-- Увеличиваем размер сердечка -->
                                    </button>
                                </form>
                            </div>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                               data-tooltip="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                               data-tooltip="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                               data-tooltip="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Дополнительная информация о товаре -->
            <div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
                <span class="stext-107 cl6 p-lr-25">
                    SKU: {{ object.sku }}
                </span>

                <span class="stext-107 cl6 p-lr-25">
                    Категория: {{ object.category.name }}
                </span>
            </div>
        </div>
    </section>

{% endblock %}