{% extends 'store/base.html' %}
{% block content %}
    <div class="container" style="margin-top: 100px; margin-bottom: 50px; width: fit-content">

        <h1 style="text-align: center; margin-bottom: 20px;">{{ title }}</h1>

        <!-- Добавляем форму для отправки запроса -->
        <form method="post">
            {% csrf_token %}
            <div style="margin-bottom: 15px;">
                {% for f in form %}
                    {{ f.label_tag }}
                    {{ f }}
                    {{ f.errors }}
                {% endfor %}
            </div>
            <button type="submit" class="btn"
                    style="margin-top: 20px; width: 100%; padding: 10px; background-color: #333; color: white; border: none; border-radius: 5px; font-size: 16px; cursor: pointer; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                Восстановить пароль
            </button>
        </form>
    </div>
{% endblock %}